@import "config";

$slide_1: url(../img/bg_imgA.jpg);
$slide_2: url(../img/bg_imgB.jpg);
$slide_3: url(../img/bg_imgC.jpg);
$slide_4: url(../img/bg_imgD.jpg);

// background slider section
.slider-container {
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  position: fixed;
  z-index: -3;

  transform: translateY(0px);
  transition: transform 0.5s ease-out;

  &.show-menu {
    transform: translateY(75px);
    transition: transform 0.5s ease-out;
  }
}

.slide-1 {
  transition: all 0.5s ease-in;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start;
  left: 0px;
  right: 0px;

  background: $slide_1;
}

.slide-2 {
  transition: all 0.5s ease-in;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start;
  left: 0px;
  right: 0px;

  background: $slide_2;
}

.slide-3 {
  transition: all 0.5s ease-in;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start;
  left: 0px;
  right: 0px;

  background: $slide_3;
}

.slide-4 {
  transition: all 0.5s ease-in;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: start;
  left: 0px;
  right: 0px;

  background: $slide_4;
}

/*

.img {
  transition: all 0.5s ease-in;
  background-repeat: no-repeat;

  background-size: cover;
  scroll-snap-align: start;

  left: 0px;
  right: 0px;

  &.slide-1 {
    background: $slide_1;
    background-color: blue;
  }

  &.slide-2 {
    background: $slide_2;
    background-color: yellow;
  }

  &.slide-3 {
    background: $slide_3;
    background-color: green;
  }

  &.slide-4 {
    background: $slide_4;
    background-color: red;
  }
}
*/
//@import "media";
