//SCSS for all background slides
$slide_1: url(../img/bg_imgA.jpg);
$slide_2: url(../img/bg_imgB.jpg);
$slide_3: url(../img/bg_imgC.jpg);
$slide_4: url(../img/bg_imgD.jpg);
$slide_5: url(../img/bg_imgA.jpg);
$slide_6: url(../img/bg_imgB.jpg);

// background slider section
.slider-container {
  //positioning and sizing
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: -3;
  position: fixed;

  // Why did I put this here?
  scroll-snap-align: start;

  // animation
  transform: translateY(0px);
  transition: transform 0.5s ease-out;

  // when on top of the page when the header is down we want to offset the image a bit.
  &.show-menu {
    transform: translateY(75px);
    transition: transform 0.5s ease-out;
  }

  // transition for all images
  transition: background-image 0.5s ease-in;

  &.slide-1 {
    background: $slide_1 center center;
    background-size: cover;
  }

  &.slide-2 {
    background: $slide_2 center center;
    background-size: cover;
  }

  &.slide-3 {
    background: $slide_3 center center;
    background-size: cover;
  }

  &.slide-4 {
    background: $slide_4 center center;
    background-size: cover;
  }

  &.slide-5 {
    background: $slide_2 center center;
    background-size: cover;
  }

  &.slide-6 {
    background: $slide_3 center center;
    background-size: cover;
  }
}
