// find color pallets https://www.color-hex.com/color-palette/1031271

//#f9f3e8
//#d6cca8
//#e1dbc9
//#f0ead8
//#c5bcaa

$primary-menu-color: #f9f3e8;
$secondary-menu-color: #0e0e0e;
$primary-logo-color: #0e0e0e;
$logo-background-opacity: 0.9;
$secondary-logo-color: #e0e0e0;

$primary-light-color: #ffffff;
$primary-dark-color: #0e0e0e;
$content-opacity: 0.7;

$footer-primary-color: #ffffff;
$footer-secondary-color: #d0d0d0;

$primary-color: #f9f3e8;
$secondary-color: #f0ead8;

$selected-color: #222dd4;
$secondary-background: #1b2227;
$primary-contrast-color: #1b2227;
$headerheight: 75px;
$header-extended-height: 400px;

@mixin easeIn {
  transition: all 0.5s ease-in;
}

@mixin easeInOut {
  transition: all 0.5s ease-in-out;
}

@mixin noTransition {
  transition: all none;
}

@mixin easeOutColors {
  transition: fill 0.5s ease-out;
  transition: color 0.5s ease-out;
}

// set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
