// find color pallets https://www.color-hex.com/color-palette/1031271

//#f9f3e8
//#d6cca8
//#e1dbc9
//#f0ead8
//#c5bcaa

// header
$primary-menu-color: #f9f3e8;
$secondary-menu-color: #494640;
$primary-logo-color: #494640;
$secondary-logo-color: #e0e0e0;
$logo-background-opacity: 0.9;
$headerheight: 75px;
$header-extended-height: 400px;

//
$primary-light-color: #f9f3e8;
$primary-dark-color: #494640;
$content-opacity: 0.7;

// Project and contact
$footer-primary-color: #f9f3e8;
$footer-secondary-color: #e1dbc9;

//
$primary-color: #f9f3e8;
$secondary-color: #f0ead8;

$selected-color: #222dd4;
$secondary-background: #1b2227;
$primary-contrast-color: #1b2227;

@mixin easeIn {
  transition: all 0.5s ease-in;
}

@mixin easeInOut {
  transition: all 0.5s ease-in-out;
}

@mixin noTransition {
  transition: all none;
}

@mixin easeOutColors {
  transition: fill 0.5s ease-out;
  transition: color 0.5s ease-out;
}

// set text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 650px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 999px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 1000px) and (max-width: 1330px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1331px) {
    @content;
  }
}
