//
$project-button-diameter: 45px;
$project-button-border-offset: 25px;
$github-color: #333333f0;
$project-info-color: rgba(29, 49, 160, 0.941);

// set text color
@function set-offset-for-project-button() {
  @return calc(100% - 70px);
}

rect {
  //
  width: 100%;
  height: 100%;

  &.dialogonal {
    //fill: url(#pattern-checkers);
    fill: url(#diagonalHatch);
    color: orange;
  }
}

footer {
  width: 100%;
  background-color: $footer-primary-color;

  display: grid;
  grid-template-columns: 1fr;

  .pre-footer {
    min-height: 500px;
    padding-top: 75px;
    padding-bottom: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-footer {
    min-height: 75vh;
    background-color: $footer-secondary-color;
    padding: 15px;
  }
}

.pre-text {
  display: flex;
  justify-content: center;
}

// projects
.footer-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(5, 300px);
}

.item {
  position: relative;
  min-width: 100%;
  min-height: 300px;

  border: #333 3px solid;
  border-radius: 25px;
  //padding: 5px;
  &:hover > .item-image {
    opacity: 0.5;
    border-color: $secondary-color;
    @include easeInOut;
  }
}
.project-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 25px;
}

.item-image {
  > rect {
    border-radius: 15px;
  }
}

.btn {
  //positioning
  position: absolute;
  z-index: 6;

  top: set-offset-for-project-button();
  bottom: $project-button-border-offset;

  // positioning child elements
  display: table-cell;
  text-align: center; /* Centers text Horizontally */
  vertical-align: middle; /* Centers text Vertically */

  //styling
  @include easeInOut;
  border: black 3px solid;
  border-radius: $project-button-diameter;
  text-decoration: none;

  > i {
    position: fixed;
  }

  > h3 {
    text-decoration: none;
    margin: 3px;
    visibility: hidden;
  }

  &:hover > h3 {
    visibility: visible;
  }
}

.btn-icon-right {
  @extend .btn;
  z-index: 4;
  //positioning
  //olor: #fff;
  left: set-offset-for-project-button();
  right: $project-button-border-offset;
  background: $github-color;
  color: set-text-color($github-color);

  padding-top: 5px;
  border: none;
}

.btn-right {
  @extend .btn;
  //positioning
  left: set-offset-for-project-button();
  right: $project-button-border-offset;

  //styling
  //background: darken($primary-color, 50);
  background: none;
  color: set-text-color($github-color);

  &:hover {
    @include easeInOut;
    z-index: 5;
    left: 25px;

    background: $github-color;
  }
}

.btn-icon-left {
  @extend .btn;
  z-index: 4;
  //positioning
  //olor: #fff;
  left: $project-button-border-offset;
  right: set-offset-for-project-button();
  background: $project-info-color;
  color: set-text-color($project-info-color);

  padding-top: 6px;
  border: none;
}

.btn-left {
  @extend .btn;
  //positioning
  left: $project-button-border-offset;
  right: set-offset-for-project-button();

  //styling
  background: none;

  color: set-text-color($project-info-color);

  &:hover {
    @include easeInOut;
    z-index: 5;
    right: 25px;
    background: $project-info-color;
  }
}
