footer {
  // positioning and sizing
  width: 100%;

  // styling
  background-color: $footer-primary-color;
  border-top: 4px $footer-secondary-color solid;

  // project text field
  .pre-text {
    // positioning and sizing
    display: flex;
    justify-content: center;
    text-align: center;

    // styling
    padding: 15px;
    color: darken($footer-secondary-color, 25%);
  }

  // project section
  .pre-footer {
    // positioning and sizing
    min-height: 500px;
    padding-top: 75px;
    padding-bottom: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  //contact section
  .main-footer {
    // positioning and sizing
    //min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // styling
    background-color: $footer-secondary-color;
    padding: 15px;
  }
}

.contact-container {
  height: 75vh;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, 300px);

  & > iframe {
    height: 100%;
    width: 100%;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > div {
      padding: 15px;
    }

    .text-secondary {
      font-weight: bold;
      color: darken($footer-secondary-color, 20%);
    }
  }
}

.copyright {
  // positioning and sizing
  width: 100%;
  text-align: center;

  // styling
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: darken($footer-secondary-color, 20%);
}

// projects
.footer-container {
  // positioning and sizing
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: repeat(4, 300px);
}

.projects-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  padding: 0%;
  top: 0;
  bottom: 0;

  // depending on internal sizes
  height: 630px;
}

.item {
  flex-direction: column;
  position: relative;
  min-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  border: #333 3px solid;
  border-radius: 25px;

  top: 0;
  bottom: 0;

  &:hover > .item-image {
    opacity: 0.5;
    border-color: $footer-secondary-color;
    @include easeInOut;
  }
}

.large {
  height: 630px;
}

.medium {
  height: 350px;
}

.small {
  height: 250px;
}

.flex {
  flex: 1;
}

.project-image {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 25px;
}

.item-image {
  > rect {
    border-radius: 15px;
  }
}

// buttons
.btn {
  //positioning
  position: absolute;
  z-index: 6;

  top: set-offset-for-project-button();
  bottom: $project-button-border-offset;

  // positioning child elements
  display: table-cell;
  text-align: center; /* Centers text Horizontally */
  vertical-align: middle; /* Centers text Vertically */

  //styling
  @include easeInOut;
  border: black 3px solid;
  border-radius: $project-button-diameter;
  text-decoration: none;

  > i {
    position: fixed;
  }

  > h3 {
    text-decoration: none;
    margin: 3px;
    visibility: hidden;
  }

  &:hover > h3 {
    visibility: visible;
  }
}

.btn-icon-right {
  @extend .btn;
  z-index: 4;
  // positioning
  left: set-offset-for-project-button();
  right: $project-button-border-offset;
  background: $github-color;
  color: set-text-color($github-color);

  padding-top: 5px;
  border: none;
}

.btn-right {
  @extend .btn;
  //positioning
  left: set-offset-for-project-button();
  right: $project-button-border-offset;

  //styling
  background: none;
  color: set-text-color($github-color);

  &:hover {
    @include easeInOut;
    z-index: 5;
    left: 25px;

    background: $github-color;
  }
}

.btn-icon-left {
  @extend .btn;
  z-index: 4;
  //positioning
  //olor: #fff;
  left: $project-button-border-offset;
  right: set-offset-for-project-button();
  background: $project-info-color;
  color: set-text-color($project-info-color);

  padding-top: 6px;
  border: none;
}

.btn-left {
  @extend .btn;
  //positioning
  left: $project-button-border-offset;
  right: set-offset-for-project-button();

  //styling
  background: none;

  color: set-text-color($project-info-color);

  &:hover {
    @include easeInOut;
    z-index: 5;
    right: 25px;
    background: $project-info-color;
  }
}
