@import "config";

// header section
header {
  z-index: 10;
  position: fixed;
  left: 0vw;
  right: 0vw;
  top: 0px;
  height: $headerheight;
}

#menu {
  &-logo {
    float: left;
    margin-left: 50px;

    // edit for styling
    background: $secondary-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $primary-color;
    padding: 10px 35px;

    opacity: 0;
    transition: opacity 0.5s ease-out;

    // show the hidden menu bar
    &.show {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }
  }

  // nav bar in the top header
  &-nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    float: right;
    margin-right: 50px;
    overflow: hidden;
    background-color: transparent;

    &.show-menu {
      background: $primary-color;
    }

    &.show-menu > div {
      transform: translateY(0px);
    }
  }

  &-nav > div {
    transform: translateY(-100px);
  }
}

.nav-item {
  //  styling to be edit
  height: 50px;
  width: 50px;
  padding: 10px;

  cursor: pointer;

  background: $primary-color;

  transition: transform 0.5s ease-out;

  & > p {
    color: $primary-contrast-color;
    text-wrap: nowrap;
    text-align: center;
  }

  // keep transition
}

$slide_8: url(../img/icons/contact.svg);
#contacts {
  src: $slide_8;
  height: 800px;
  width: 800px;
}

// for loop to make each item slower
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

@import "media";
