// header section
header {
  z-index: 10;
  position: fixed;
  left: 0vw;
  right: 0vw;
  top: 0px;
  height: $headerheight;
}

#menu {
  //styling Logo section
  &-logo {
    //postitioning
    float: left;
    margin-left: 50px;

    //styling
    background: rgba($primary-logo-color, $logo-background-opacity);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 35px;

    //text styling
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: $secondary-logo-color;

    //visibility
    opacity: 0;
    transition: opacity 0.5s ease-out;

    // show the hidden menu bar
    &.show {
      opacity: 1;
      transition: opacity 0.5s ease-out;
    }
  }

  //styling nav bar in the top header
  &-nav {
    //positioning & orientation
    display: flex;
    flex-flow: row wrap;
    float: right;
    overflow: hidden;

    //placement from side
    margin-right: 50px;

    //inner placements
    align-items: center;
    justify-content: center;

    //visibility
    background-color: $primary-menu-color;
    opacity: 0;
    transition: opacity 0.5s ease-out;

    //add visibility
    &.show-menu {
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }

    //drop items in from the top
    &.show-menu > a {
      transform: translateY(0px);
    }
  }

  //drop items out to the top
  &-nav > a {
    transform: translateY(-100px);
  }
}

// styling nav buttons
.nav-item {
  //usability
  cursor: pointer;

  //sizing
  height: 50px;
  width: 50px;

  //styling
  padding: 10px;
  background: $primary-menu-color;

  color: $secondary-menu-color;

  //animations
  transition: transform 0.5s ease-out;

  &:hover {
    background-color: darken($primary-menu-color, 10%);
  }

  &:active {
    background-color: darken($primary-menu-color, 20%);
  }

  // resize svg images
  & > img {
    height: 50px;
    width: 50px;
  }
}

.current {
  background-color: darken($primary-menu-color, 25%);
}

// for loop to make each item slower
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
