@import "config";
// Widescreens
@include mediaXl {
  section {
    &.left-sided {
      padding-right: 50%;
    }

    &.right-sided {
      padding-left: 50%;
    }
  }

  // boxes
  .content {
    iframe {
      left: 325px;
      right: 325px;
      width: calc(100vw - 650px);

      bottom: 175px;
      top: 175px;
      height: calc(100vh - 350px);
    }
  }

  .selected-day {
    left: 300px;
    right: 300px;
    width: calc(100vw - 600px);

    bottom: 150px;
    top: 150px;
    height: calc(100vh - 300px);
  }
}

// Desktops & Laptops
@include mediaLg {
  #scroll-container {
    &p {
      color: yellow;
    }
  }

  // boxes
  .content {
    iframe {
      left: 325px;
      right: 325px;
      width: calc(100vw - 650px);

      bottom: 175px;
      top: 175px;
      height: calc(100vh - 350px);
    }
  }

  .selected-day {
    left: 300px;
    right: 300px;
    width: calc(100vw - 600px);

    bottom: 150px;
    top: 150px;
    height: calc(100vh - 300px);
  }

  // projects section
  .footer-container {
    // adapt projects column number to smaller screen
    grid-template-columns: repeat(2, 400px);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  // generic styling
  p {
    font-size: 1em;
  }

  //content and about me section
  section {
    &.left-sided {
      padding-right: 30%;
    }

    &.right-sided {
      padding-left: 30%;
    }
  }

  // projects section
  .footer-container {
    // adapt projects column number to smaller screen
    grid-template-columns: repeat(2, 300px);
  }
}

// smartphones
@include mediaSm {
  //header logo and nav section
  #menu {
    &-logo {
      left: 15px;
    }

    //move nave bar to side
    &-nav {
      //change orientation
      flex-flow: column wrap;
      margin-right: 0px;

      //drop items in from the side
      &.show-menu > a {
        transform: translateX(0px);
      }
    }
    //drop items out to the side
    &-nav > a {
      transform: translateX(100px);
    }
  }
  // end header logo and nav section

  // content and about me section
  section {
    &.left-sided {
      padding-right: 55px;
    }

    &.right-sided {
      padding-left: 55px;
    }
  }

  // projects section
  .footer-container {
    // adapt projects column number to smaller screen
    grid-template-columns: repeat(1, 300px);
  }

  .contact-container {
    height: 75vh;

    grid-template-columns: repeat(1, 350px);
  }
}
