@import "config";
// Widescreens
@include mediaXl {
  #scroll-container {
    &p {
      color: blue;
    }
  }

  section {
    &.left-sided {
      padding-right: 50%;
    }

    &.right-sided {
      padding-left: 50%;
    }
  }

  // boxes
  .content {
    iframe {
      left: 325px;
      right: 325px;
      width: calc(100vw - 650px);

      bottom: 175px;
      top: 175px;
      height: calc(100vh - 350px);
    }
  }

  .selected-day {
    left: 300px;
    right: 300px;
    width: calc(100vw - 600px);

    bottom: 150px;
    top: 150px;
    height: calc(100vh - 300px);
  }
}

// Desktops & Laptops
@include mediaLg {
  #scroll-container {
    &p {
      color: yellow;
    }
  }

  // boxes
  .content {
    iframe {
      left: 325px;
      right: 325px;
      width: calc(100vw - 650px);

      bottom: 175px;
      top: 175px;
      height: calc(100vh - 350px);
    }
  }

  .selected-day {
    left: 300px;
    right: 300px;
    width: calc(100vw - 600px);

    bottom: 150px;
    top: 150px;
    height: calc(100vh - 300px);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  p {
    font-size: 1em;
  }

  #scroll-container {
    &p {
      color: red;
    }
  }

  section {
    &.left-sided {
      padding-right: 30%;
    }

    &.right-sided {
      padding-left: 30%;
    }
  }

  .portfolio {
    // min-height: 60vh;
  }
  .content {
    //flex: 40%;
  }
}

// Smartphones
@include mediaSm {
  #scroll-container {
    &p {
      color: green;
    }
  }

  section {
    &.left-sided {
      padding-left: 25px;
      padding-right: 25px;
    }

    &.right-sided {
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .portfolio {
    //min-height: 80vh;
    //width: 60vw;

    // grid-template-columns: 50vw;
    // justify-items: center;
  }
  //makes columns in portfolio
  .content {
    //flex: 60%;
  }

  // header and navigation menu
  #menu {
    &-logo {
      margin-left: 15px;
    }

    &-nav {
      flex-flow: column wrap;
      margin-right: 0px;

      &.show-menu > div {
        transform: translateX(0px);
      }
    }

    &-nav > div {
      transform: translateX(100px);
    }
  }
}
