@import "config";

// changing background related styling
@import "background";

// header related styling
@import "header";

// home and about me related styling
@import "boxes";

// projects and contact section related styling
@import "footer";

// General styling

html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: $primary-color;
}

h2 {
  font-size: 2.5em;
  margin: 5px 0;
}

p {
  font-size: 1.25em;
}

#scroll-container {
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  position: fixed;
  overflow: scroll;
}

// content and about me section
section {
  // positioning
  left: 0px;
  right: 0px;
  height: 100vh;
  z-index: 2;

  // section with no subsections
  &.main-section {
    // inner positioning
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 55px;
    padding-right: 55px;
  }

  // subsection with 1/2 the viewheight
  &.sub-section {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // for content placed on the left
  &.left-sided {
    padding-left: 55px;
    padding-right: 50%;
  }

  // for content placed on the right
  &.right-sided {
    padding-left: 50%;
    padding-right: 55px;
  }
}

// content text block
.content-text-block {
  // positioning & sizing
  width: 100%;

  // styling
  border-radius: 15px;
  background: rgba($primary-light-color, $content-opacity);
  color: set-text-color($primary-light-color);

  //
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;

  @include easeInOut;

  &:hover {
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    @include easeInOut;
  }

  &.dark-mode {
    background: rgba($primary-dark-color, 0.8);
    color: set-text-color($primary-dark-color);
  }
}

//display: flex;
//flex-flow: column wrap;
//align-items: center;
//j//ustify-content: center;
//float: left;
//width: 50%;
//height: 100vh;
//overflow: hidden;

@import "media";
