@import "config";
@import "header";
@import "background";
body {
  //  background-color: #fff;
  z-index: -10;
}

#scroll-container {
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  position: fixed;
  overflow: scroll;
}

section {
  left: 0px;
  right: 0px;
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 2;
  border: 1px solid red;
}

@import "media";
